$bg-color: #c5cfd9;
$body-background-color: $bg-color;
$sidebar-color: $bg-color;
$link-color: #2c4d6b;
$body-text-color: #1f2830;
$body-heading-color: #425566;
$code-background-color: #dde6f0;

$border: 0px solid;